:root {
  --primary: #498133;
  --secondary: #254b16;
  --tertiary: #6c965b;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
  background-color: #eae252;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

header h1 {
  margin-top: 50px;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  display: flex;
  background-color: var(--secondary);
  padding: 15px;
}

nav a {
  color: var(--light);
  /* padding: 1px 20px; */
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.appointment {
  flex: 4;
  background-color: #eae252;
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  
  
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
  color: #1a1a1a;
}

a:hover {
  color: #065b83;
  text-decoration: underline;
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  margin: 0;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  outline: none;
  color: #1a1a1a;
  background-color: #aeaeae;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
} 

.btn.btn-block {
  width: 100%;
  display: block;
  text-align: center;
}

.btn.btn-primary {
  background-color: #2d3e50;
  color: #d9e9e8;
}

.btn.btn-primary:hover {
  background-color: #57779a;
}

.btn.btn-danger {
  background-color: #e64c66;
  color: #ffffff;
}

.btn.btn-danger:hover {
  background-color: #ee8294;
}

.btn.btn-info {
  background-color: #1bbc9b;
  color: #ffffff;
}

.btn.btn-info:hover {
  background-color: #31e1bd;
}

.btn.btn-light {
  background-color: #d9e9e8;
  color: #1a1a1a;
}

.btn.btn-light:hover {
  background-color: #84b8b4;
}

.btn.btn-dark {
  background-color: #1a1a1a;
  color: #d9e9e8;
}

.btn.btn-dark:hover {
  background-color: #5f5f5f;
}

.btn.btn-white {
  background-color: #ffffff;
  color: #1a1a1a;
}

.btn.btn-white:hover {
  background-color: #cccccc;
}

.btn.btn-black {
  background-color: #000000;
  color: #ffffff;
}

.btn.btn-black:hover {
  background-color: #666666;
}

.btn.btn-link {
  background-color: #1b89bc;
  color: #ffffff;
}

.btn.btn-link:hover {
  background-color: #31a9e1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

img {
  max-width: 100%;
  height: auto;
}

form label,
form .form-label {
  display: inline-block;
  font-size: 1.2rem;
  margin: 0.625rem 0 0.25rem 0.3rem;
}

form .form-input {
  width: 100%;
  padding: 0.75rem;
  color: #1a1a1a;
  background-color: #ffffff;
  margin: 0.625rem 0;
  font-size: 1.2rem;
  border: 1px solid #484848;
  border-radius: 0.3rem;
}


.align-start {
  align-items: flex-start;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-content-start {
  align-content: flex-start;
}

.align-content-stretch {
  align-content: stretch;
}

.align-content-end {
  align-content: flex-end;
}

.align-content-center {
  align-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -15px;
  margin-right: -15px;
}

.friend {
  width: 50%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.friend-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #6c965b;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.appointment-name {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-shadow: 2px 2px 5px var(--secondary);
  border: 10px groove var(--light);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 100px;
  padding-left: 100px;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

#logo {
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.min-100-vh {
  min-height: 100vh;
}